<div class="landing">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, AFSP-Seeder!</h1>
            <p>This is the Bootstrap Jumbotron template I have used for the lading page for my demo app.</p>
            <p><a class="btn btn-primary btn-lg" href="https://www.github.com/thinkjones" role="button">Learn more at Gene's Github &raquo;</a></p>
        </div>
    </div>

    <div class="container">

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>My Competitions for {{landing.username}}</h2>
                <p>
                <ul class="list-group">
                    <li class="list-group-item comp-link"
                        ng-repeat="mycomp in landing.mycompetitions | orderBy: '-Score'"
                        ui-sref="competition({ competition_id: mycomp.competition_id})">
                        <span class="badge">{{mycomp.Score | percentage:1}}</span>
                        {{mycomp.CompetitionName}}
                    </li>
                </ul>

                </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Create Submission</h2>
                <p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input type="text" ng-model="landing.form.competition" placeholder="Search for competition"
                               uib-typeahead="competition as competition.name for competition in landing.allcompetitions | filter:$viewValue | limitTo:8"
                               class="form-control">
                    </li>
                    <li class="list-group-item">
                        <input type="text" ng-model="landing.form.teamname" placeholder="Team Name"
                               class="form-control">
                    </li>
                    <li class="list-group-item">
                        <input type="text" ng-model="landing.form.usernames" placeholder="User Names"
                               class="form-control">
                    </li>
                    <li class="list-group-item">
                        <input type="text" ng-model="landing.form.score" placeholder="Score" class="form-control">
                    </li>
                </p>
                <p><a class="btn btn-default" ng-click="landing.submitEntry()" role="button">Submit Entry</a></p>
            </div>
            <div class="col-md-4">
                <h2>Gene's Notes</h2>
                <p>Click to see this <a href="https://docs.google.com/document/d/1jEtoWFjq_RkPcVWCEBptx7wUauDeBDmn8melNsB2Vws/edit?usp=sharing">Google Doc</a> on my notes on what I have done.</p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; 2016 Gene Conroy-Jones, Inc.</p>
        </footer>
    </div> <!-- /container -->
</div>